html, body {
  font-size: 16px;
  height: 100%;
  width: 100%;
}

body {
  background-image: url("../images/space.jpeg");
  background-size: cover;
}

h1 {
  color: white;
  font-family: "OCR A Std";
  font-size: 2.4rem;
  font-weight: 100;
  letter-spacing: 1px;
  /* opacity: .76; */
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;

}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(59, 50, 67, 1);
  width: 80%;
  height: 80%;
  opacity: .5;
}


nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  font-size: .75rem;
  height: auto;
  position: fixed;
}

#nav a {
  padding: 1rem;
  opacity: .76;
}

a {
  font-family: "Baloo";
  color: white;
  text-decoration: none;
}

#planet, #alien {
  margin-top: 2rem;
  color: #e6cccc;
}

p {
  font-family: "OCR A Std";
  color: white;
}

.form {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: white;
  font-family: "OCR A Std";
}

input[type=text] {
    border: 2px solid white;
    border-radius: 4px;
}

input[type=submit] {
  color: white;
  font-family: "Baloo";
  border: none;
  font-size: .9rem;
  letter-spacing: 2px;
  background-color: rgba(59, 50, 67, 1);
  border-radius: 40px;
  padding: 1.4rem 2rem;
  opacity: .76;
  cursor: pointer;
}

textarea {
  border: 2px solid white;
  border-radius: 4px;
  height: 5rem;
  width: 20rem;
}

#create-edit input[type=text] {
  width: 15rem;
}


#create-edit input[type=submit] {
  border: solid white 1px;
  text-align: center;
  background-color: white;
  color: rgba(59, 50, 67, 1);
  opacity: 1;
}

#create-edit form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 4rem;
}
