<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/stylesheets/reset.css" />
      <link rel="stylesheet" href="/stylesheets/login.css" />
    <title></title>
  </head>
  <body>
    <div class="main">
      <nav>
        <a href="/">home</a>
      </nav>
      <div class="jumbotron">
        <div class="form">
          <form action="/signup" method="POST">
            <label>Username:</label>
            <input type="text" name="" /><br /><br /><br />
            <label>Password:</label>
            <input type="password" name="" /><br /><br /><br />
            <input type="submit" value="Log In"/>
          </form>
        </div>
      </div>

    </div>


  </body>
</html>
