<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/stylesheets/reset.css" />
      <link rel="stylesheet" href="/stylesheets/profile.css" />
    <title></title>
  </head>
  <body>
    <div class="main">
      <nav>
        <a href="/">home</a>
      </nav>

      <div class="profile">
        <h1>Welcome, Username</h1>
        <p>What discovery would you like to add?</p>
        <a href="/planets/new">Planet</a>
        <a href="/aliens/new">Alien Life Form</a>
      </div>


    </div>


  </body>
</html>
