<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/stylesheets/reset.css" />
      <link rel="stylesheet" href="/stylesheets/profile.css" />
    <title></title>
  </head>
  <body>
    <nav id="nav">
      <a href="/">home</a>
      <a href="/logout">logout</a>
    </nav>

    <div class="main">


      <div class="profile">

          <h1 id="welcome-user">Welcome, <%=@user.username.capitalize%></h1>
          <br /><br />
          <p>What discovery would you like to add?</p>
          <a href="/planets/new" id="planet">Planet</a>
          <a href="/aliens/new" id="alien">Alien Life Form</a>

          <div class="discoveries">
            <p>View Discoveries</p>
            <a href="/planets" id="planet">Planets Database</a><br />
            <a href="/aliens" id="alien">Alien Life Forms Database</a>
          </div>




      </div>


    </div>


  </body>
</html>
