<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/stylesheets/reset.css" />
      <link rel="stylesheet" href="/stylesheets/signup.css" />
    <title></title>
  </head>
  <body>
    <nav id="nav">
      <a href="/">home</a>
    </nav>
    <div class="main">
      <div class="section">
        <div class="intro">
          <p>The year is 2142 and we have recently developed the Milkyway’s first FTL drive. This great feat of engineering has allowed us to initiate intergalactic travel for the very first time in human history. With colonies on Mars and a base on the moon, we have explored, expanded, and mapped out much of our home galaxy, the MIlkyway. The Andromeda Project is looking for a brave and skilled team of explorers to map out our neighboring galaxy, Andromeda. We will be looking to identify heretofore unknown planets and potential alien life. Will you join us on this very important mission?</p>
        </div>

        <div class="form">
          <form action="/signup" method="POST">
            <label>Username:</label><br />
            <input type="text" name="username" /><br /><br /><br />
            <label>Email:</label><br />
            <input type="text" name="email" /><br /><br /><br />
            <label>Password:</label><br />
            <input type="password" name="password" /><br /><br /><br />

            <% if flash.has?(:message) %>
              <p id="flash"><%= flash[:message] %></p>
            <% end %><br />

            <input type="submit" value="Sign Up"/>
          </form>

        </div>
      </div>

    </div>


  </body>
</html>
