<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/stylesheets/reset.css" />
      <link rel="stylesheet" href="/stylesheets/profile.css" />
    <title></title>
  </head>
  <body>
    <nav id="nav">
      <a href="/profile">profile</a>
      <a href="/logout">logout</a>
    </nav>
    <div class="main">


      <div class="profile">
        <h1>Planets</h1>
        <p id="index">
          <%@planets.each do |planet| %>
          <a href="/planets/<%=planet.slug%>"><%=planet.name%><br /><br />
          <%end%>
        </p>

      </div>




    </div>


  </body>
</html>
