<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/stylesheets/reset.css" />
      <link rel="stylesheet" href="/stylesheets/profile.css" />
    <title></title>
  </head>
  <body>
    <div class="main">
      <nav>
        <a href="/profile">profile</a>
        <a href="/logout">logout</a>
      </nav>

      <div class="profile">
        <h1><%=@planet.name%></h1>

        <p>Type: <%=@planet.type%></p>
        <p>Description: <%=@planet.description%></p>
        <p>Alien Life Forms: <%=@planet.aliens.each {|alien| alien.name}%></p>

      </div>




    </div>


  </body>
</html>
