<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/stylesheets/reset.css" />
      <link rel="stylesheet" href="/stylesheets/profile.css" />
    <title></title>
  </head>
  <body>
    <nav id="nav">
      <a href="/profile">profile</a>
      <a href="/logout">logout</a>
    </nav>
    <div class="main">

      <div class="profile" id="create-edit">

        <h1>Planet Name</h1>

        <p id="show">Type: Planet Type</p>
        <p id="show">Description: Planet Description</p>
        <p id="show">Alien Life Forms: Jawa, Buttmonger </p>


        <a href="/planets/edit"><span class="button" id="edit-button">Edit</span></a>
        <a href="/planets/delete"><span class="button">Delete</span></a>
        </div>

      </div>




    </div>


  </body>
</html>
