<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="main">
      <div class="jumbotron">
        <h1>Andromeda Project</h1>
        <span class="button">Become A Space Explorer</span>
        <span class="button">Log In</span>
      </div>

    </div>


  </body>
</html>
