<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/stylesheets/reset.css" />
      <link rel="stylesheet" href="/stylesheets/main.css" />
    <title></title>
  </head>
  <body>
    <div class="main">
      <div class="jumbotron">
        <h1>Andromeda Project</h1>
        <a href="/signup"><span class="button">Become A Space Explorer</span></a>
        <a href="/login"><span class="button">Log In</span></a>
      </div>

    </div>


  </body>
</html>
