<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/stylesheets/reset.css" />
      <link rel="stylesheet" href="/stylesheets/profile.css" />
    <title></title>
  </head>
  <body>
    <nav id="nav">
      <a href="/profile">profile</a>
      <a href="/logout">logout</a>
    </nav>
    <div class="main">

      <div class="profile" id="create-edit">
        <h1>Create Alien</h1>

        <div class="form">
          <form action="/signup" method="POST">
            <label>Name:</label><br />
            <input type="text" name="" /><br /><br /><br />

            <label>Type:</label><br />
            <input type="text" name="" /><br /><br /><br />

            <label>Description:</label><br />
            <textarea></textarea><br /><br /><br />

            <input type="submit" value="Create"/>
          </form>
        </div>

      </div>




    </div>


  </body>
</html>
