<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
      <link rel="stylesheet" href="/stylesheets/reset.css" />
      <link rel="stylesheet" href="/stylesheets/profile.css" />
    <title></title>
  </head>
  <body>
    <nav id="nav">
      <a href="/profile">profile</a>
      <a href="/logout">logout</a>
    </nav>
    <div class="main">

      <div class="profile" id="create-edit">

        <h1><%=@alien.name%></h1>

        <p id="show">Classification: <%=@alien.classification%></p>
        <p id="show">Description:</p>
        <p id="show"><%=@alien.description%></p>
        <p id="show">Planets: <%=@alien.planet.name%></p>


        </div>

      </div>




    </div>


  </body>
</html>
